body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../imgs/fundo.jpg') no-repeat;
    user-select: none;
    
}
.container{
    
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 40px 60px;
    background: transparent;
    border: 5px solid white;
}

h2{
    font-size: 3em;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.reset{
    
    padding: 15px 20px;
    width: 100%;
    color: black;
    background-color: #fdeff9;
    border: none;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
}

.reset:hover{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.game{
    
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
}

.item{

    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;

    font-size: 3em;
    transform:  rotateY(180deg);
    transition: 0.25s;

}

.item::after{
    
    content: "";git commit -m "first commit"
    position: absolute;
    inset: 0;
    background: #404040;
    transition: 0.25s;
    transform:  rotateY(0deg);
    backface-visibility: hidden;
}

.item.boxOpen{
    transform: rotateY(0deg);
}

.item.boxOpen::after,
.item.boxMatch::after
{
    transform: rotateY(180deg);
}